  <div class="patient-details-main-container">
      <!-- <header>Medical Data Entry Task</header> -->
      <div class="patient-details-sub-container">
        <form [formGroup]="patientForm" class="patient-details">
          <div class="form-group">
            <label for="patientName">Patient Name:</label>
            <input readonly type="text" id="patientName" formControlName="patientName">
          </div>
          <div class="form-group">
            <label for="dob">Date of Birth:</label>
            <input readonly type="date" id="dob" formControlName="dob">
          </div>
          <div class="form-group">
            <label for="currentAge">Current Age:</label>
            <input readonly type="number" id="currentAge" formControlName="currentAge">
          </div>
          <div class="form-group">
            <label for="sex">Sex:</label>
            <input readonly type="text" id="sex" formControlName="sex">
          </div>
          <div class="form-group">
            <label for="patientId">Patient ID:</label>
            <input readonly type="text" id="patientId" formControlName="patientId">
          </div>
          <div class="form-group">
            <label for="hr">HR (BPM):</label>
            <input readonly type="number" id="hr" formControlName="hr">
          </div>
          <div class="form-group">
            <label for="qtIntervals">QT Intervals:</label>
            <input readonly type="number" id="qtIntervals" formControlName="qtIntervals">
          </div>
        </form>
      </div>
    </div>
    