.patient-male-female-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.female-container,
.male-container {
    flex: 1;
    padding: 20px; /* Increase padding for better spacing */
    text-align: center;
}

.female-container {
    order: -1; /* This will move the female container to the left */
}

label {
    display: block;
    font-weight: bold; /* Make labels bold */
    margin-bottom: 10px;
}

input {
    width: 100%; /* Make the input fields take the full width */
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box; /* Include padding and border in the width */
    border: 1px solid #ccc; /* Add a border for better visibility */
    border-radius: 4px; /* Add border-radius for a slightly rounded appearance */
}
